<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        {{!-- mobile --}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!-- reset.css --}}
        <link rel="stylesheet" href="/public/assets/css/reset.css" type="text/css">
		{{!-- materialize --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		{{!-- style css --}}
		<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css">
        {{!-- game css --}}
        <link rel="stylesheet" href="/public/assets/css/gameStyle.css" type="text/css">
        {{!-- description --}}
        <meta name="description" content="Sun-Guy Obot is a simple multi-player (MMO) arena battle game, involving animated 2D sprites, on an HTML Canvas." />
		<title>Sun-Guy Obot!</title>
	</head>
	<body class="container">

		{{{ body }}}

		<footer class="page-footer">
            <div class="footer-copyright">
                <a href="http://www.jmmarquardt.com/">&copy; 2016 John-Mike Marquardt</a>  |
                <a href="https://github.com/codemarq/SunGuyObot">Github</a>  |
                <a href="">Heroku</a>
            </div>
  		</footer>
        <!-- Compiled and minified Materialize JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	</body>
</HTML>
