<main>

<h1>Sun-Guy Obot</h1>
<p>"Sun-Guy Obot" is a multiplayer online game in HTML5 where players (2D sprites) throw dodge-balls at each other in a 2D arena (html canvas).</p>

<h3>Objective</h3>
<p>Make an HTML5 Canvas game, animating 2D sprites, where players can compete with each other online.</p>

<h3>PixelArt Sample</h3>
<h5>Sun-Guy Obot</h5>
![Sun-Guy Obot prototype image](./public/assets/img/Sun-Guy_Obot_prototype_1-2.png)


<h3>Built With</h3>
- [Atom](https://atom.io/)
- [PiskelApp](http://www.piskelapp.com/)
- [Texture Packer](https://www.codeandweb.com/texturepacker)

<h3>Project Wireframe</h3>
<a href="https://sun-guyobot.mybalsamiq.com/projects/game">Balsamiq</a>

<h3>Open Source</h3>
<p>This project is open-source.  Please feel free to contribute by opening an <a href="https://github.com/codemarq/SunGuyObot/issues#boards?repos=74843981">issue</a></p>

<h3>Author </h3>
&copy; 2016 John-Mike Marquardt  | <a href="http://www.jmmarquardt.com">jmmarquardt.com</a>  |  <a href="https://www.github.com/codemarq">Github</a>


<h3>License</h3>
<h4>MIT License</h4>

<p>Copyright &copy; 2016 John-Mike Marquardt</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>

</main>
