<div class="container">
    <header class="header">
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo center">Sun-Guy Obot</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https://github.com/codemarq/SunGuyObot">Github</a></li>
              </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="card col s12">
            <div class="valign-wrapper">
                <h5 class="valign"><button class="btn waves-effect waves-light valign center-align" type="submit" name="action">Play
                <i class="material-icons right">play_arrow</i>
              </button></h5>
            </div>
        </div>
    </section>
</div>
